<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Llamada de recogida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pickup-call-forgotten</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <img src="https://raw.githubusercontent.com/mdn/learning-area/master/html/multimedia-and-embedding/images-in-html/dinosaur_small.jpg"/> 
    </ion-item>
      <ion-card>
        <ion-label>
          <p>Address: Fake street, 111</p>
          <p>Complement: Apto 222</p>
          <p>Neighborhood: neighborhood</p>
          <p>Zip Code: 123456</p>
          <p>City Name: Seviila (España)</p>
        </ion-label>
      </ion-card>
    <ion-item>
          <ion-input type="text" label="Notes"></ion-input>
    </ion-item>

    <ion-item>
      <ion-card>
        <ion-button size="full" color="success">CREATE PICKUP CALL</ion-button>
      </ion-card>
    </ion-item>

  </ion-list>




</ion-content>
