<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Reciclica</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input label="" labelPlacement="floating" placeholder="Enter text">Email</ion-input>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="" labelPlacement="floating" placeholder="Enter text">Password</ion-input>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button color="dark" fill="clear" size="full">Forgot email/password</ion-button>
        </ion-item>
          <ion-item>
            
            <ion-button color="success" size="full">Login</ion-button>
          
          </ion-item>
          <ion-item>
          <ion-button color="success" fill="clear" size="full">Register</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
